/* GERAIS */
*{
    margin: 0;
}
body {
    background-color: #000;
}

header {
    padding: 50px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}

header img {
    width: 150px;
}

.btn-custom-white{
    background-color: #fff;
    margin-right: 5px;

}

.btn-custom-translucent{
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

.btn-custom-translucent:hover{
    color: #fff;
    opacity: 0.8;
}

.btn-custom-white:hover{
    opacity: 0.8;
}

.btn-custom-round{
    padding: 5px 9px !important;
}

.opacity-50{
    opacity: 0.5;
}

.filme-lista{
    overflow-x: scroll;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    padding: 20px 0;
    display: block;
    border: 1px solid transparent;
}

.filme-lista::-webkit-scrollbar{
    display: none;
}

.filme{
    display: inline-block;
    width: 250px;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.5s;
    overflow: auto;
    border: 1px solid transparent;
    overflow-y: hidden;
}

.filme:hover{
    cursor: pointer;
    transform: scale(1.17);
    z-index: 999;
    transition: 0.5s;
}

.filme:hover .filme-info{
    transform: scale(1);
    transition: 0.05s;
}

.filme:first-child{
    margin-left: 80px;
}

.filme-info{
    background-color: #171717;
    padding: 10px;
    height: 100px;
    width: 100%;
    transform: scale(0);
}

.filme-info .col-12{
    margin-top: 5px;
}

.filme-info .col-12:first-child{
    margin-bottom: 20px;
    padding-left: 0;
    
}

.filme-info p{
    color: #7E7B7B;
    font-size: 12px;
}

.filme-info p text{
    color: #fff;   
}

section{
    margin-bottom: -100px;
    position: relative;
}

section:hover{
    z-index: 9;
}

/* LOGIN */
body.bg-filmes {
    background-image: url(./assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#caixa-login {
    background: rgba(0, 0, 0, 0.7);
    width: 440px;
    padding: 30px;
    margin-top: 30px;
}

#facebook{
    width: 18px;
    font-size: 15px;
}

#texto-captcha{
    font-size: 13px;
}

/* HOME */

.menu-list{
    list-style: none;
    padding-left: 0;
    padding-top: 7px;
}

.menu-list li{
    display: inline-block;
    margin-left: 15px;
}

.menu-list li a{
    color: #fff;
}

#hero{
    height: 700px;
    background-image: url(assets/Group\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 0;
}

#hero::after{
    content: '';
    width: 100%;
    height: 350px;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    left: 0;
    z-index: 2;
    top: calc(700px - 350px);
}

#hero-infos{
    padding: 0;
    margin-top: 170px;
    z-index: 3;
    position: relative;
}

#hero-infos img.logo{
    width: 600px;
}

#hero-infos h1{
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 47px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

#hero-infos p{
    font-size: 18px;
    font-weight: 500;
    mix-blend-mode: hard-light;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.85);
}

#main-content{
    margin-top: 700px;
}

/* modal */

.modal-dialog, .modal-content{
    background: #171717;
}

.modal-dialog{
    max-width: 600px;
}

.modal-hero{
    height: 300px;
    background-image: url(assets/dolores.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 30px;
}

.modal-hero::after{
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, #171717 100%);
    position: absolute;
    left: 0;
    margin-top: -155px;
    z-index: 1;
}

.modal-hero img{
    width: 200px;
    margin-top: 70px;
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
}

.modal-hero-infos{
    position: relative;
    z-index: 2;
}

.modal-hero-infos button:first-child{
    margin-right: 20px;
}

.filme-descricao{
    font-size: 15px;
    color: #fff;
}

.filme-elenco{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.55);
}

.filme-elenco text{
    color: #fff;
}

#lista-episodios{
    list-style: none;
    padding: 0;
}

#lista-episodios li:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
}

#lista-episodios li{
    padding: 20px;
}

#lista-episodios li p{
    font-size: 13px;
}














